.ticket_info h4 i{color:#004d8a}body{font-family:"Titillium Web",sans-serif !important;color:#000 !important}#about-us+[data-readmore-toggle]{color:#004d8a}#infoBar{background-color:#004d8a}.info-icon{color:#004d8a}.info-title h3{color:#000}#infoBar .list-group-horizontal .list-group-item{background-color:transparent;color:#fff;border-right:1px solid #fff}#infoBar .list-group-horizontal .list-group-item:hover{border-right:1px solid #000}.app-down{color:#004d8a}.stellarnav.light li a:hover{border-bottom:2px solid #004d8a;background-color:transparent;color:#004d8a}#baner .carousel-caption{color:#fff}.offname{color:#fff}.offroute{color:#004d8a}#section_info .row>.col-md-3{background-color:#fff}ul.quickBook li{color:#000}ul.quickBook li:before{color:#000}.allroutes div a{color:#000}.allroutes div a:hover{color:#004d8a}.allroutes div a:hover:before{color:#004d8a}.allroutes div a:before{color:#000}.quick_book h3:before{background:#004d8a}.silent_feature .title:before{background:#004d8a}#searchInfo .nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#fff;cursor:default;background-color:#004d8a;border-color:transparent;border-bottom-color:transparent}#searchInfo .nav-tabs>li>a{color:#fff}#searchInfo .tab-content{background-color:#004d8a}#Swidget{background-color:#004d8a}#searchInfo .tab-content .form-group label{color:#fff}#searchInfo select.form-control,.ant-select,#searchInfo .Select .Select-control{background:url(origin-icon-bd3398a8790b1e22fa4a9081cf504aa5612170c68da6fb41a08d0a865aacceb2.png) no-repeat left bottom 4px;padding-left:16px;color:#fff}#searchInfo select.form-control option{color:#000}.carousel-caption{color:#fff;background-color:white}.btn-black{background-color:#34363f;color:#fff}#slider_info .carousel-control{color:#000}#slider_info .item h4{color:#000}#myCarousel2 .carousel-indicators li{background-color:#004d8a}#banerInfo{background-color:#004d8a;color:#fff}.wrapper-footer a{color:#000}.right_footer a{color:#004d8a}.wrapper-footer .main-top-footer .widget-title{color:#000}.textwidget i{color:#000}.list-group-horizontal .social button.btn-default{border-color:#004d8a}.tab-content .btn{background:transparent;border:2px solid #fff}#searchInfo .form-control{color:#000}#searchInfo .input-group .form-control,#searchInfo .ant-calendar-picker-input{color:#fff}#searchInfo .ant-select-selection__placeholder,#searchInfo .Select-placeholder{font-size:16px;color:#fff}.date i{color:#004d8a}.hover_div:hover{background:#fff}.read_more{color:#004d8a}.read_more:hover{color:#004d8a}#myCarousel1 i,.widget_text i{color:#004d8a}.list-arrow li a:hover{color:#004d8a}.right_footer a:hover{color:#004d8a}#slider_info h2,#slider_info h4{color:#fff !important}#slider_info #myCarousel1 .thumbnail{border:1px solid #fff}#contact_info .form-control{border-color:#004d8a}#contact_info .submit{background-color:#004d8a;color:#fff;border-color:#004d8a}#contact_info .content-header{color:#004d8a}#section_info .image:before{background:#004d8a}#innerpage_banner h2{color:#fff}#innerpage_banner:before{background:#004d8a}#baner .btn-info{background-color:transparent;border:1px solid #004d8a}.contact-info li a:hover{color:#004d8a}.testimonial4_control_button .carousel-control{border:2px solid #004d8a}.testimonial4_control_button .carousel-control span{color:#004d8a}.testimonial4_control_button .carousel-control.left:hover,.testimonial4_control_button .carousel-control.right:hover{color:#000;background:#004d8a;border:2px solid #004d8a}.testimonial4_header h2{color:#fff}.testimonial4_slide p{color:#fff}.testimonial4_slide h4{color:#fff}.testimonial4_slide h4:before{background-color:#fff}#section_info h2:after,#slider_info h2:after,#testimonial4 h2:after,#about_info h2:after,.amenity_sec h2:after{background:#004d8a}#latest_info h3:after{background:#004d8a}.wrapper-footer .main-top-footer .widget-title:after{background:#004d8a}#cssmenu ul li ul li{background:#004d8a}#cssmenu ul li ul li.has-sub:before{border-left-color:#fff}#cssmenu.align-right ul li ul li.has-sub:before{border-right-color:#fff}#cssmenu ul li ul li a{color:#fff}#cssmenu>ul>li.has-sub>a:before{border-top-color:#004d8a}#cssmenu>ul>li>a{color:#000}#cssmenu>ul>li:hover>a,#cssmenu>ul>li.active>a{color:#004d8a}#cssmenu>ul>li:hover>a:before,#cssmenu>ul>li.active>a:before{background:#004d8a}@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px){#cssmenu{background:#004d8a}#cssmenu ul li ul li a{color:#000}#cssmenu #menu-button{color:#fff}#cssmenu>ul>li:hover>a,#cssmenu>ul>li.active>a{color:#000}#cssmenu #menu-button:after{border-top:2px solid #fff;border-bottom:2px solid #fff}#cssmenu #menu-button:before{border-top:2px solid #fff}}.radio label,.checkbox label{color:#fff}.radio .cr{color:#fff}.checkbox .cr,.radio .cr{border:1px solid #fff}.datepicker table tr td.today,.datepicker table tr td.today:hover,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover{background:#004d8a !important;color:#fff !important}.datepicker table tr td.today,.datepicker table tr td.today:hover,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover{background:#004d8a !important;color:#fff !important}.datepicker table tr td.day:hover,.datepicker table tr td.day.focused{background:#a29e9e;color:#fff}.contact_form .form-line{background:#000}.contact_form .form-group label{color:#fff}.contact_detail li i{color:#fff;background:#004d8a}.contact_detail li i:hover{background:#fff;border:2px solid #004d8a;color:#004d8a;-webkit-transition:all ease 0.5s;-moz-transition:all ease 0.5s;-o-transition:all ease 0.5s;-ms-transition:all ease 0.5s;transition:all ease 0.5s}.contact_detail li{color:#000}.contact_detail li a{color:#000}.contact_detail li a:hover{color:#004d8a}.main_head_office_right span,.main_head_office_right p{color:#000}#latest_news .text-center button{color:#fff;background-color:#004d8a;border-color:#004d8a}#latest_news .text-center button:hover{color:#fff;background-color:#004d8a;border-color:#004d8a}#latest_news .form-control{color:#000}#latest_news .contact_form .form-group label{color:#000}#sidebar_news button,#sidebar1 button,#cargo_sidebar1 button,#cargo_sidebar_news button{background:#000;border:1px solid #000;color:#fff}#sidebar_news img,#sidebar1 img{border-bottom:1px solid #fff}.owl-theme .owl-controls .owl-buttons div{color:#fff}.owl-theme .owl-controls .owl-page span.owl-numbers{color:#fff}.testimonial1 .author{color:#004d8a}.testimonial1 .media-body.media-middle{color:#000}#map_info .loc{background:#fff}#map_canvas h3{color:#004d8a}.loc b{color:#004d8a}.gds-notification .btns_close{background-color:#004d8a}.gds-notification .close1,.gds-notification .close{color:#fff !important}.gds-notification .min .fa{color:#fff}.gds-notification .well{background:#fff}.gds-notification .offer_slide p{font-family:"Titillium Web",sans-serif}.gds-notification .min .view_offer .fa{color:#004d8a}.gds-notification .view_offer{color:#004d8a}.gds-notification #buttons a{color:#004d8a}.gds-notification a#prev:hover,.gds-notification a#next:hover{color:#004d8a}.gds-notification .offer_head{color:#fff}.gallery_page .pagination i{color:#004d8a}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:#004d8a !important;border-color:#004d8a !important}.offer-color{color:#000}.offercode{color:#000}#offers button{color:#004d8a}#offers #close{color:#fff;background:#004d8a}.offers-terms i{color:#004d8a}#print_ticket .print_footer button{color:#004d8a}#print_ticket .terss #close{color:#fff;background:#004d8a}.terms-conditionss i{color:#004d8a}#agent_reg h2:after,#feedback_block h2:after{background:#004d8a}#agent_reg .agent_info .print_btn,#feedback_block .feedback_info .print_btn{color:#fff;background-color:#004d8a;border-color:#004d8a}.agent_info .agent-title{color:#000}.agent_info .agent-title:after{background:#004d8a}.agent_process li i{color:#004d8a}.feedback_form .form-group:first-child label{color:#004d8a}.feed_type_box:after{color:#fff;background-color:#004d8a}#print_ticket .ticket_info .print_btn{color:#fff;background-color:#004d8a;border-color:#004d8a}#print_ticket .ticket_info .print_mtic p{color:#004d8a}#print_ticket .ticket_info .print_mtic .mtkt_text{color:#004d8a}#print_ticket .print_footer{color:#000}#modify_banner .modify_form button{color:#fff}#modify_banner h2{color:#fff}#modify_banner{background:#004d8a}#modify_info .abt_tkt h3:after{background:#004d8a}#modify_info .abt_tkt .images{border:1px solid #004d8a;background:#004d8a}.cancel_policy i{color:#004d8a}#policies .cancel_policy h3:after{background:#004d8a}#modify_banner .note span{color:#fff}.tz-gallery h3{color:#000}.tz-gallery h3 a{color:#000}.testimonial-text .author_name{color:#004d8a}#agent_login .modal-header ul li.active a{color:#004d8a;border:1px solid #004d8a;background:#004d8a;color:#fff}#agent_login .modal-dialog:before{background:#004d8a}#agent_login .modal-dialog .close,#agent_login .modal-dialog .close span{color:#fff}#agent_login .tab-content .btn{border:1px solid #004d8a;background:#004d8a;color:#fff}#agent_login .data{color:#fff}#schedules .ant-table-bordered .ant-table-thead>tr>th{color:#fff;background:#004d8a}#schedules .table>thead:first-child>tr:first-child>th{color:#fff;background:#004d8a}#example td a{color:#000}#schedules a:hover{color:#004d8a}.faq_content h5{color:#004d8a}.faq_content p{color:#000}.circle-ripple{animation:ripple 2s linear infinite;background-color:#004d8a;width:50px;height:50px;border-radius:50%;position:fixed;right:5%;top:40%;z-index:1}@keyframes ripple{0%{box-shadow:0 0 0 0 #004d8a,0 0 0 0 #004d8a,0 0 0 1em #004d8a,0 0 0 em #004d8a}100%{box-shadow:0 0 0 0 #004d8a,0 0 0 0.5em #004d8a,0 0 0 1em #004d8a,0 0 0 1.5em #004d8a}}#download_app h3{color:#004d8a}#download_app .btn-success{color:#fff;background-color:#004d8a;border-color:#004d8a}.screen_inside{background:#004d8a}#blog-section aside .content-footer>img{border:2px solid #fff}#blog-section .title-widget-sidebar:after{background:#004d8a}#blog-section button.accordion{background-color:#F39C12;color:#fff}#blog-section button.accordion.active,button.accordion:hover{background-color:#F39C12;color:#fff}#blog-section button.accordion:after{color:#fff}#blog-section .blog_title h3{color:#004d8a}#blog-section .content-title h3 a{color:#000}#blog-section .content-title h3 a:hover{color:#004d8a}#blog-section .content-footer{color:#fff}#blog-section .content-footer span a{color:#fff}#blog-section .content-footer span a:hover{color:#004d8a}#package_block h2:after,#package_detail_block h2:after{background:#004d8a}.package_text h3{color:#fff}.btn-lightblue{color:#fff;background-color:#004d8a;border-color:#004d8a}.package_text a:hover{color:#fff}.accordion-block h3{color:#fff}.accordion-block h3.ui-state-active{background:url(minus_white-3bd9e987b5d56eec124b0c85c23f16653cbec21e7e9f01cd7df318a93e6513b5.png) 99% center no-repeat #004d8a;background-size:14px}.package_detail_info span.tour_number,.package_detail_info span.tour_days{color:#fff}.tour-content b{background:#004d8a;color:#fff}.tour-content b.get_quote:hover{background:#004d8a}.quote_form button,.quote_form button:hover{border-color:#004d8a;background:#004d8a;color:#fff}.sitemap-inner li a{color:#000}.sitemap-inner div{color:#004d8a}.sitemap-inner li a:hover{color:#004d8a}#agent_reg .message,#download_app .message,#feedback_block .message,.slider_parent .theme_message{color:#000}#agent_reg .message .check,#download_app .message .check,#feedback_block .check,.slider_parent .theme_message .check{background:#004d8a;color:white}#agent_reg .message #agent-success,#feedback-ok,#download_app .message #close,#feedback_block .message #ok,.slider_parent .theme_message #ok,.slider_parent .theme_message #cargo_ok{background:#004d8a}#agent_reg .message #agent-success:hover,#feedback-ok:hover,#download_app .message #close:hover,#feedback_block .message #ok:hover,.slider_parent .theme_message #ok{background:#004d8a}.note .fa{color:#004d8a}.pagination>li>a,.dataTables_length .form-control{color:#000 !important}.pagination>.active>a,.package_text h2{color:#fff !important}.amenties-icon{background-color:#004d8a}.amenties-icon_below{background-color:#004d8a}.bus-amenities h4{color:#000}.customcheck input:checked ~ .checkmark{background-color:#004d8a}body h4.side-heading{color:#004d8a}body .datebar li>label,.datebar li>span{color:#000}body .datebar li>label.active{background-color:#004d8a;color:#fff}body .passenger-details-table>thead>tr>th{border-bottom:0px solid #C7D9F9;color:#000}body .datebar li>label.active{color:#fff}.offer_icon{background:url(offers-1-94882a137d32ef4cc60bcfb7ddb555e65260deddd967de77ac3ea4d4364658aa.png) no-repeat center #004d8a}.landmark-info svg{color:#004d8a}#branch_detail .panel-default>.panel-heading a[aria-expanded="true"]{background:#004d8a !important}#branch_detail .panel-default>.panel-heading a{color:#000}#branch_detail .col-md-4.panel-body .inner-body h4{color:#004d8a}#career_sec #accordion .panel-title a{background:#004d8a}#career_sec #accordion .panel-title a.collapsed{background:#444}#career_sec #accordion .panel-title a:before,#career_sec #accordion .panel-title a.collapsed:before{background:#004d8a}#career_sec #accordion .panel-body{border-left:3px solid #004d8a;color:#fff}#career_sec #accordion .panel-body:before{background:#004d8a}#career_sec h2:after{background:#004d8a}.default-heading{color:#000}#bustkt-content h3{color:#004d8a}#slider_news .group-pack,#cargo_slider_news .group-pack{background:#004d8a}li.list-item span{font-family:"Titillium Web",sans-serif !important}i.ant-calendar-picker-icon{display:none}.ant-select-selection-selected-value,#searchInfo .ant-calendar-picker-input,.Select-value .Select-value-label{font-size:16px}.ant-select-selection.ant-select-selection--single{border-radius:0}.search-results-page,.ticket-page{border-top:3px solid #004d8a;background:#fff}#root .ant-btn-primary,.book-btn-wrap .ant-btn-primary,.book-btn-wrap .ant-btn-primary:hover{background-color:#004d8a;border-color:#004d8a}.modify-ticket .btn-block,.cancel-ticket .btn-block,.postpone-ticket .btn-block{background-color:#004d8a;border-color:#004d8a}section.ticket-page .btn-group a.hover,section.ticket-page .btn-group a.active,section.ticket-page .btn-group a:active{background-color:#004d8a;border-color:#004d8a;color:#fff}.search-head{border-bottom:3px solid #004d8a}.modify-ticket .btn-block:hover,.cancel-ticket .btn-block:hover,.postpone-ticket .btn-block:hover,.print-ticket .btn-block:hover,.print-ticket .btn-block{background-color:#004d8a;border-color:#004d8a}.info_icon{background:url(info-3-a31bcf2df29b58681fddb5639485dda7f8b388416eecf2d2373c8e7b877813a3.png) no-repeat center #004d8a}.ant-card-head-title:after{background:#004d8a}.ant-modal-close-x{color:#fff}.ant-modal-header{background:#004d8a !important}.ant-modal-title{color:#fff !important}.ant-select,.ant-form-item,.ant-form,.ant-select-dropdown,.ant-modal,.ant-card,.ant-collapse,.ant-popover,.ant-input,.ant-input-group,.ant-checkbox-wrapper{font-family:"Titillium Web",sans-serif !important}.login_user .ant-btn-primary,.login_user .ant-btn-primary:hover,.login_user .ant-btn-primary:focus{background-color:#004d8a;color:#fff;border-color:#004d8a}.login_user .ant-modal-close .ant-modal-close-x{color:#fff;background:#004d8a}.login_user .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab{background:#eee}.login_user .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active{background:#004d8a;color:#fff}.customer-login-page .btn-group .btn,.traveller-form .btn-group .btn{background:#004d8a;border-color:#004d8a;color:#fff}.filters-wrap .filter-value{color:#004d8a}.filters-wrap .ant-slider-handle{border:solid 2px #004d8a}.filters-wrap .ant-slider-track,.filters-wrap .ant-slider:hover .ant-slider-track{background-color:#004d8a}.filters-wrap .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){border:solid 2px #004d8a}#my_app .ant-tabs{font-family:"Titillium Web",sans-serif !important}#my_app .customer-login-page .ant-btn-primary{border-color:#004d8a !important}#my_app .customer-login-page .ant-select-arrow{color:#004d8a !important}#my_app .customer-login-page .my_profile .ant-input-affix-wrapper .ant-input-prefix i{color:#004d8a !important}#my_app .customer-login-page .ant-table table{border-bottom:3px solid #004d8a;font-family:"Titillium Web",sans-serif !important}#my_app .customer-login-page .ant-table table .ant-table-thead>tr>th{border-bottom:1px solid #004d8a;font-family:"Titillium Web",sans-serif !important}.search-widget .ant-row .ant-col-6 .ant-row.ant-form-item{width:93%}.swap_cls{right:-3px !important}#Swidget .ant-select-arrow .ant-select-arrow-icon{display:none}#searchInfo .Select.is-focused>.Select-control,#searchInfo .Select.is-focused:not(.is-open)>.Select-control{background:transparent url(origin-icon-bd3398a8790b1e22fa4a9081cf504aa5612170c68da6fb41a08d0a865aacceb2.png) no-repeat left bottom 4px;border-color:#fff;box-shadow:none}#searchInfo .Select-input>input{padding:4px 0 12px}#searchInfo .Select.has-value.Select--single>.Select-control .Select-value .Select-value-label,#searchInfo .Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{color:#fff}#searchInfo .Select.is-focused.is-open .Select-value{opacity:0.4}#searchInfo .VirtualizedSelectOption{padding-left:10px}.search-results-page .Select-control{border-radius:0px;height:30px}.search-results-page .Select-value .Select-value-label{font-size:12px}.search-results-page .Select.has-value.Select--single>.Select-control .Select-value .Select-value-label{color:rgba(0,0,0,0.65)}.search-results-page .Select-clear-zone{display:none}.search-results-page .Select-input{height:28px}.search-results-page .Select--single>.Select-control .Select-value{line-height:28px}.search-results-page .Select-input>input{padding:5px 0 12px}.search-results-page .Select.is-focused:not(.is-open)>.Select-control{border-color:#40a9ff}.search-results-page .Select.is-focused.is-open .Select-control{border-color:#40a9ff}.Select-menu-outer{margin-top:1px}.thanku_content .print-btn{background-color:#004d8a;color:#fff}.download-app .search{background-color:#004d8a}.cms_contact_location{color:red;margin-left:5px;font-size:25px !important}#schedules .schedule-count{color:#000}
el.active{
    background-color: $theme-color;
    color: $theme_font_color;
  }

  /* .search-results > thead > tr > th{
    background-color: $theme_light_color;
  } */
/* 
  .ant-btn-primary{
    &,
    &:hover, 
    &:focus{
      background-color: $theme-color;
      color: $theme_font_color;
      border-color: $theme-color;
    }
  } */

  body .passenger-details-table > thead > tr > th{
    border-bottom: 0px solid #C7D9F9;
    color: $theme_light_font_color;
  }

  /* .search-results > tbody > tr.active td{
    background-color: $theme_light_color !important;
  } */
  body .datebar li>label.active {
    color:#fff;
  }

/*bookingengine theme color*/

.offer_icon{
  background:image-url('cms_mp1/offers-1.png') no-repeat center $theme-color;
}
.landmark-info svg{
  color:$theme-color;
}

#branch_detail .panel-default>.panel-heading a[aria-expanded="true"] {
   background: $theme-color !important;
}
#branch_detail .panel-default>.panel-heading a{
    color: $secondary-font-color;
}
#branch_detail .col-md-4.panel-body .inner-body h4{
  color: $theme-color;
}
#career_sec #accordion .panel-title a{
    background: $theme-color;
}
#career_sec #accordion .panel-title a.collapsed{ background: #444;}
#career_sec #accordion .panel-title a:before,
#career_sec #accordion .panel-title a.collapsed:before{
    background: $theme-color;
}
#career_sec #accordion .panel-body{
    border-left: 3px solid $theme-color;
    color: $primary-font-color;
}
#career_sec #accordion .panel-body:before{
    background: $theme-color;
}

#career_sec h2:after{
    background: $theme-color;
}
.default-heading{
  color:$secondary-font-color;
}

#bustkt-content h3{
   color: $theme-color; 
}
#slider_news .group-pack, #cargo_slider_news .group-pack{
    background: $theme-color;
}

li.list-item span{ font-family:$theme-font-family !important;}




























/*booking css start*/

i.ant-calendar-picker-icon {
    display: none;
}

.ant-select-selection-selected-value,#searchInfo .ant-calendar-picker-input,.Select-value .Select-value-label {
    font-size: 16px;
}
.ant-select-selection.ant-select-selection--single {
    border-radius: 0;
}
.search-results-page,.ticket-page{
  border-top:3px solid $theme-color;
  background:#fff;
}
#root .ant-btn-primary,.book-btn-wrap .ant-btn-primary,.book-btn-wrap .ant-btn-primary:hover{
  background-color:$theme-color;
  border-color:$theme-color;
}
.modify-ticket  .btn-block,.cancel-ticket .btn-block,.postpone-ticket .btn-block{
  background-color:$theme-color;
  border-color:$theme-color;
}
section.ticket-page .btn-group a.hover,section.ticket-page .btn-group a.active,section.ticket-page .btn-group a:active{
    background-color:$theme-color;
    border-color:$theme-color;
    color:#fff;
}


.search-head{
  border-bottom:3px solid $theme-color;
}
.modify-ticket  .btn-block:hover,.cancel-ticket .btn-block:hover,.postpone-ticket .btn-block:hover,.print-ticket .btn-block:hover,.print-ticket .btn-block{
  background-color:$theme-color;
  border-color:$theme-color;
}

.info_icon{
  background:image-url('cms_mp1/info-3.png') no-repeat center $theme-color;
}
.ant-card-head-title:after{
  background: $theme-color;
}
.ant-modal-close-x{
  color: $primary-font-color;
}
.ant-modal-header{
  background: $theme-color !important;
}
.ant-modal-title{
  color: $primary-font-color !important;
}
.ant-select, .ant-form-item, .ant-form, .ant-select-dropdown, .ant-modal, .ant-card, .ant-collapse, .ant-popover, .ant-input, .ant-input-group, .ant-checkbox-wrapper{
font-family:$theme-font-family !important;
}
.login_user{
  .ant-btn-primary{
    &,
    &:hover,
    &:focus{
      background-color: $theme-color;
      color: $theme_font_color;
      border-color: $theme-color;
    }
  }
  
  .ant-modal-close {
    .ant-modal-close-x {
      color: $primary-font-color;
      background: $theme-color;
    }
  }
  .ant-tabs-bar{
    .ant-tabs-nav{
      .ant-tabs-tab {
        background: #eee;
        &.ant-tabs-tab-active{
          background: $theme-color;
          color: $primary-font-color;
        }
      }
    }
  }
}

.customer-login-page, 
.traveller-form{
  .btn-group .btn {
    background: $theme-color;
    border-color: $theme-color;
    color: $primary-font-color;
  }
}

.filters-wrap{
  .filter-value{
    color: $theme-color;
  }
  .ant-slider-handle{
    border: solid 2px $theme-color;
  }

  .ant-slider-track,
  .ant-slider:hover .ant-slider-track{
    background-color: $theme-color;
  }

  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
    border: solid 2px $theme-color;
  }
}
#my_app {
  .ant-tabs {
      font-family: $theme-font-family !important;
  }
  .customer-login-page {
    .ant-btn-primary {
          border-color: $theme-color !important;
    }
    .ant-select-arrow {
      color: $theme-color !important;
    }
    .my_profile {
      .ant-input-affix-wrapper .ant-input-prefix i {
        color: $theme-color !important;
      }
    }
    .ant-table table {
          border-bottom: 3px solid $theme-color;
           font-family: $theme-font-family !important;
          .ant-table-thead > tr > th {
                border-bottom: 1px solid $theme-color;
                font-family: $theme-font-family !important;
          }
    }

  }
}

/*booking css start*/
.search-widget .ant-row .ant-col-6 .ant-row.ant-form-item{
  width: 93%;
}
.swap_cls{
  right: -3px !important;
}
#Swidget .ant-select-arrow .ant-select-arrow-icon {
    display: none;
}

/*VirtualizedSelect css*/
#searchInfo {
  .Select.is-focused > .Select-control,.Select.is-focused:not(.is-open) > .Select-control{
    background:transparent image-url('cms_mp1/origin-icon.png') no-repeat left bottom 4px;
    border-color:#fff;
    box-shadow:none;
  }
  .Select-input > input{
    padding:4px 0 12px;
  }
  .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{
    color:$primary-font-color;
  }
  .Select.is-focused.is-open .Select-value{
    opacity:0.4;
  }  
  .VirtualizedSelectOption {
    padding-left: 10px;
  }
}

.search-results-page{
 .Select-control{
    border-radius:0px;
    height:30px;
  }
  .Select-value .Select-value-label{
    font-size:12px;
  }
  .Select.has-value.Select--single>.Select-control .Select-value .Select-value-label{
    color:rgba(0, 0, 0, 0.65)
  }
  .Select-clear-zone{
    display:none
  }
  .Select-input {
    height: 28px;
  }
  .Select--single > .Select-control .Select-value{
   line-height:28px;
  }
  .Select-input > input{
    padding:5px 0 12px;
  }
  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #40a9ff;
  }
  .Select.is-focused.is-open .Select-control{
     border-color: #40a9ff;
  }
}
.Select-menu-outer{
  margin-top:1px
}

.thanku_content .print-btn {
  background-color: $theme-color;
  color: #fff;
}
.download-app .search {
  background-color: $theme-color;
}
.cms_contact_location{
  color: red;
  margin-left: 5px;
  font-size: 25px !important;
}

#schedules{
  .schedule-count{
   color: $secondary-font-color;
  }
}
